@model Mentohub.Domain.Data.DTO.LessonDTO;

<style>

    .body {
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }

    #content {
        margin-top: 15px;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    body {
        min-width: 660px; /* Suppose you want minimum width of 1000px */
        width: auto !important; /* Firefox will set width as auto */
        width: 1000px; /* As IE6 ignores !important it will set width as 1000px; */
    }

    .grid-container {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-gap: 10px;
    }

    .grid-item {
    }

    .grid-body-splitter {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-gap: 10px;
    }

    .two-parts {
        display: flex;
        margin-bottom: 5%;
    }

    .description {
        padding: 15px 5% 0;
    }

    .golden-text {
        color: #FFD700;
        font-size: 48px;
    }

    .description-lable {
        width: 30%;
        padding: 15px 5% 0;
    }

    .list {
        margin-top: 30px;
    }

    .video {
        margin-top: 35px;
    }

    .vl {
        border-left: 3px solid black;
        height: 100%;
    }

    .list-lable {
        font-family: Verdana;
        font-size: 28px;
    }

    .reviews-block {
        text-align: center;
    }

    .course-comments {
        margin-top: 20px;
    }

    .comment-creation {
        width: 80%;
        margin-left: 10%;
        text-align: center;
    }

    .user-rating {
        display: flex;
        margin: auto;
        width: 50%;
    }

    .star-rating s:hover,
    .star-rating s.active {
        color: gold;
    }

    .star-rating-rtl s:hover,
    .star-rating-rtl s.active {
        color: gold;
    }

    .star-rating s,
    .star-rating-rtl s {
        color: black;
        font-size: 40px;
        cursor: default;
        text-decoration: none;
        line-height: 40px;
    }

    .star-rating {
        padding: 2px;
    }

    .star-rating-rtl {
        background: #555;
        display: inline-block;
        border: 1px solid #444;
    }

        .star-rating-rtl s {
            color: yellow;
        }

    .star-rating s:hover:before,
    .star-rating s.rated:before,
    .star-rating s.active:before {
        content: "\2605";
    }

    .star-rating s:before {
        content: "\2606";
    }

    .star-rating-rtl s:hover:after,
    .star-rating-rtl s.rated:after,
    .star-rating-rtl s.active:after {
        content: "\2605";
    }

    .star-rating-rtl s:after {
        content: "\2606";
    }

    .user-details {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .comment-text {
        margin-top: 5px;
    }

    .user-comment {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .user-info {
        margin-left: 10%;
        display: flex;
        padding: 1em 3em 1em;
        width: 80%;
        text-align: left;
        margin-bottom: 1rem;
    }

    .hr-80 {
        margin-left: 10%;
        width: 80%;
    }

    .user-picture {
        flex: 0 0 30%;
        max-width: 8%;
        margin-right: 1rem;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        overflow: hidden;
    }

        .user-picture img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .user-name {
        font-weight: bold;
    }

    .user-metadata {
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .comment-user-rating {
        color: gold;
        display: flex;
    }

    .star-icon {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-image: url(star-icon.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .comment-time {
        font-size: 0.8rem;
        color: #666;
    }
</style>

@{
    int id = Model.CourseID;
}

<div>
    <div id="discription">
        <h2 style="font: small-caps bold sans-serif;">Theme: @Model.Theme</h2>
    </div>

    <div id="video" class="video">
        <video controls width="100%" height="50%" loop>
            <source src="@Url.Content("https://mystudystorage.blob.core.windows.net/test/" + Model.VideoPath)" type="video/mp4">
        </video>
    </div>

    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'tab1')">Description</button>
        <button class="tablinks" onclick="openTab(event, 'tab2')">Notes</button>
        <button class="tablinks" onclick="openTab(event, 'tab3')">Author</button>
        <button class="tablinks" onclick="openTab(event, 'tab4')">Reviews</button>
    </div>

    <div id="tab1" class="tabcontent">
        <div class="two-parts">
            <div class="description-lable">
                Discription:
            </div>
            <div class="description">
                @Model.Description
            </div>
        </div>
        <div class="two-parts">
            <div class="description-lable">
                Last editted date:
            </div>
            <div class="description">
                @Model.DateCreation
            </div>
        </div>
    </div>

    <div id="tab2" class="tabcontent">
        @Html.Raw(Model.Body)
    </div>

    <div id="tab3" class="tabcontent">
        <h3>Tab 3 content</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </div>

    <div id="tab4" class="tabcontent">
        <div class="reviews-block">
            <h3 class="golden-text">Course rating: @Model.CourseRating</h3>
            <div class="comment-creation">
                <input type="text" class="form-control" placeholder="Give your review" id="userreview" />
                <div class="user-rating">
                    <div class="stars">
                        <div class="star-rating"><s><s><s><s><s></s></s></s></s></s></div>
                    </div>
                    <div>
                        <button class="btn btn-success" onclick="SendReview()" height="20%">Send</button>
                    </div>
                </div>
            </div>
            <div id="course-comments" class="course-comments">
                <div id="comments-list">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let course = @Model.CourseID;
</script>
